.warna1{
    background-color: rgb(211, 171, 79);
}
.warna2{
    background-color: #836C2D;
}
.warna3{
    background-color: #868a85;
}
.warna4{
    background-color: #eeece3;
}
.highlighted-kategori {
    height: 350px; 
    background-size: cover;
    background-position: center;
    position: relative; 
    overflow: hidden; 
}
.kategori-sop {
    background-image: url('../image/sop.png'); 
}

.kategori-rabbani {
    background-image: url('../image/rabbani.png'); 
}

.kategori-drink {
    background-image: url('../image/drink.png'); 
}

.highlighted-kategori h4 {
    position: absolute; /* Memungkinkan teks untuk diposisikan di tengah */
    top: 50%; /* Memindahkan teks ke tengah */
    left: 50%; /* Memindahkan teks ke tengah */
    transform: translate(-50%, -50%); /* Menyelaraskan teks ke tengah */
    z-index: 1; /* Memastikan teks di atas gambar */
}
.banner {
    position: relative; 
    height: 100vh; 
}
.background-image {
    position: absolute; /* Memungkinkan gambar untuk diatur */
    top: 50%; /* Memindahkan gambar ke tengah */
    left: 50%; /* Memindahkan gambar ke tengah */
    width: 100%; /* Memastikan gambar memenuhi lebar kontainer */
    height: auto; /* Mempertahankan proporsi gambar */
    transform: translate(-50%, -50%); /* Menyelaraskan gambar ke tengah */
    z-index: -1; /* Menempatkan gambar di belakang konten lain */
}
.text-white a {
    color: white; /* Change link color to white */
    text-decoration: none; /* Remove underline from links */
}

.content {
    position: relative; /* Agar konten tetap di atas gambar */
    z-index: 1; /* Memastikan konten di atas gambar */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Menyelaraskan konten secara vertikal */
    height: 100%; /* Memastikan konten mengisi tinggi banner */
}
.no-decoration{
    text-decoration: none;
    color: white;
}
.no-decoration:hover{
    color: #836C2D;
}
.text-harga{
    font-size: 20px;
}
.image-box img {
    width: 100%; /* Pastikan gambar menyesuaikan dengan kotak gambar */
    height: auto; /* Pastikan proporsi gambar tetap */
}

.form-control:focus {
    border-color: #836C2D; 
    box-shadow: 0 0 5px gold; 
}
.content-subscribe{
    background-color: #868a85;
}
.banner-produk{
    position: relative; 
    height: 100vh; 
}
.list-group-item.active{
    background-color: rgb(223, 224, 204);
    color: rgb(26, 25, 25); 
    border-color: white;
}
.produk-terkait-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.produk-image {
    max-width: 40%; /* Pastikan gambar tidak melebihi lebar kontainer */
    height: auto;    /* Menjaga aspek rasio gambar */
}